<!DOCTYPE html>
<html lang="en">
  <head>

<style>
  body{background: #0d1521; font-family: verdana; color: #fff; padding: 30px}
h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
p{font-size: 16px; text-align: center; }

   </style>
 <title>The  Web</title>
  </head>
  <body>
    <%- include('partials/nav.ejs') -%>
 <h1>Welcome to the Emmergency unit of Crime Watch</h1>
  <p>Good afternoon fellow good citezens of our beloved fatherland,I am  <%= person %>,In our effort to curb crime and ensure your safety,  the
  headquaters of our <%= emergency[0].unit %>  at <%= emergency[0].location %> puts out this emergency number <%= emergency[0].contact %>
In case of any crimes, or attempted crimes, please call and report.
Thank you.</p>
</body>


 </html>
